# Configuration file

adjustments {
    I:anvilCostMultiplier=1
    I:breakChance=12

    # Cost muliplier per enchantment copied onto a book
    # This is multiplied by the enchantment level
    I:copyEnchantToBookCostMultiplier=1

    # Repair bonus added when copying an enchantment to a book
    I:copyEnchantToBookRepairBonus=1

    # Repair bonus added when increasing an enchantment by a level
    I:enchantCombineRepairBonus=2

    # Cost to increase an enchantment by a level
    I:enchantCombineRepairCost=2

    # Repair bonus added when transfering an enchantment to a tool
    I:enchantTransferRepairBonus=1

    # Cost to transfer an enchantment to a tool
    I:enchantTransferRepairCost=1

    # Percentage each item will repair the tool by
    I:itemRepairAmount=25
    I:mainRepairBonusPercent=12
    I:renamingCost=5
    I:renamingRepairBonus=1
    I:repairCostPerItem=3
}


"enchantment blacklist" {
    S:"Eternal Compass" <
     >
    S:Reading <
     >
    S:arrowDamage <
     >
    S:arrowFire <
     >
    S:arrowInfinite <
     >
    S:arrowKnockback <
     >
    S:betterstorage.key.lockpicking <
        betterstorage.key.morphing
     >
    S:betterstorage.key.morphing <
        betterstorage.key.lockpicking
     >
    S:betterstorage.key.unlocking <
     >
    S:betterstorage.lock.persistance <
     >
    S:betterstorage.lock.security <
     >
    S:betterstorage.lock.shock <
     >
    S:betterstorage.lock.trigger <
     >
    S:binding <
        fire
     >
    S:cluster <
        lootBonusDigger
     >
    S:confusion <
     >
    S:consuming <
        untouching
     >
    S:corrupting <
     >
    S:damage <
     >
    S:damage.all <
        damage.undead
        damage.arthropods
     >
    S:damage.arthropods <
        damage.all
        damage.undead
     >
    S:damage.undead <
        damage.all
        damage.arthropods
     >
    S:digging <
     >
    S:disarm <
        lootBonus
        lootBonusDigger
        lootBonusFishing
     >
    S:durability <
     >
    S:educational <
        lootBonus
        greedy
     >
    S:fire <
     >
    S:fishingSpeed <
     >
    S:greedy <
        lootBonus
        educational
     >
    S:haste <
     >
    S:impact <
     >
    S:infinite <
     >
    S:knockback <
     >
    S:lootBonus <
        untouching
     >
    S:lootBonusDigger <
        untouching
     >
    S:lootBonusFishing <
        untouching
     >
    S:magicresist <
     >
    S:nightVision <
        oxygen
        waterWorker
     >
    S:oxygen <
     >
    S:poison <
     >
    S:protect.all <
        protect.fire
        protect.explosion
        protect.projectile
     >
    S:protect.explosion <
        protect.all
        protect.fire
        protect.projectile
     >
    S:protect.fall <
     >
    S:protect.fire <
        protect.all
        protect.explosion
        protect.projectile
     >
    S:protect.projectile <
        protect.all
        protect.fire
        protect.explosion
     >
    S:repair <
        durability
     >
    S:soulbound <
     >
    S:thorns <
     >
    S:"ttinkerer:ascentBoost" <
     >
    S:"ttinkerer:autoSmelt" <
        protect.all
        protect.fire
        protect.fall
        protect.explosion
        protect.projectile
        oxygen
        waterWorker
        thorns
        damage.all
        damage.undead
        damage.arthropods
        knockback
        fire
        lootBonus
        digging
        untouching
        lootBonusDigger
        arrowDamage
        arrowKnockback
        arrowFire
        arrowInfinite
        lootBonusFishing
        fishingSpeed
        cluster
        wrath
        greedy
        consuming
        educational
        corrupting
        voidtouched
        impact
        binding
        nightVision
        disarm
        magicresist
        soulbound
        haste
        betterstorage.key.unlocking
        betterstorage.key.lockpicking
        betterstorage.key.morphing
        betterstorage.lock.persistance
        betterstorage.lock.security
        betterstorage.lock.shock
        betterstorage.lock.trigger
        Reading
        Eternal Compass
        damage
        poison
        confusion
        infinite
        ttinkerer:ascentBoost
        ttinkerer:desintegrate
        ttinkerer:dispersedStrike
        ttinkerer:finalStrike
        ttinkerer:focusedStrike
        ttinkerer:pounce
        ttinkerer:quickDraw
        ttinkerer:shatter
        ttinkerer:shockwave
        ttinkerer:slowFall
        ttinkerer:tunnel
        ttinkerer:valiance
        ttinkerer:vampirism
     >
    S:"ttinkerer:desintegrate" <
        protect.all
        protect.fire
        protect.fall
        protect.explosion
        protect.projectile
        oxygen
        waterWorker
        thorns
        damage.all
        damage.undead
        damage.arthropods
        knockback
        fire
        lootBonus
        digging
        untouching
        lootBonusDigger
        arrowDamage
        arrowKnockback
        arrowFire
        arrowInfinite
        lootBonusFishing
        fishingSpeed
        cluster
        wrath
        greedy
        consuming
        educational
        corrupting
        voidtouched
        impact
        binding
        nightVision
        disarm
        magicresist
        soulbound
        haste
        betterstorage.key.unlocking
        betterstorage.key.lockpicking
        betterstorage.key.morphing
        betterstorage.lock.persistance
        betterstorage.lock.security
        betterstorage.lock.shock
        betterstorage.lock.trigger
        Reading
        Eternal Compass
        damage
        poison
        confusion
        infinite
        ttinkerer:ascentBoost
        ttinkerer:autoSmelt
        ttinkerer:dispersedStrike
        ttinkerer:finalStrike
        ttinkerer:focusedStrike
        ttinkerer:pounce
        ttinkerer:quickDraw
        ttinkerer:shatter
        ttinkerer:shockwave
        ttinkerer:slowFall
        ttinkerer:tunnel
        ttinkerer:valiance
        ttinkerer:vampirism
     >
    S:"ttinkerer:dispersedStrike" <
        protect.all
        protect.fire
        protect.fall
        protect.explosion
        protect.projectile
        oxygen
        waterWorker
        thorns
        damage.all
        damage.undead
        damage.arthropods
        fire
        digging
        untouching
        lootBonusDigger
        arrowDamage
        arrowKnockback
        arrowFire
        arrowInfinite
        lootBonusFishing
        fishingSpeed
        cluster
        wrath
        greedy
        consuming
        educational
        corrupting
        voidtouched
        impact
        binding
        nightVision
        disarm
        magicresist
        soulbound
        haste
        betterstorage.key.unlocking
        betterstorage.key.lockpicking
        betterstorage.key.morphing
        betterstorage.lock.persistance
        betterstorage.lock.security
        betterstorage.lock.shock
        betterstorage.lock.trigger
        Reading
        Eternal Compass
        damage
        poison
        confusion
        infinite
        ttinkerer:ascentBoost
        ttinkerer:autoSmelt
        ttinkerer:desintegrate
        ttinkerer:finalStrike
        ttinkerer:focusedStrike
        ttinkerer:pounce
        ttinkerer:quickDraw
        ttinkerer:shatter
        ttinkerer:shockwave
        ttinkerer:slowFall
        ttinkerer:tunnel
        ttinkerer:valiance
        ttinkerer:vampirism
     >
    S:"ttinkerer:finalStrike" <
        protect.all
        protect.fire
        protect.fall
        protect.explosion
        protect.projectile
        oxygen
        waterWorker
        thorns
        damage.arthropods
        knockback
        fire
        lootBonus
        digging
        untouching
        lootBonusDigger
        arrowDamage
        arrowKnockback
        arrowFire
        arrowInfinite
        lootBonusFishing
        fishingSpeed
        cluster
        wrath
        greedy
        consuming
        educational
        corrupting
        voidtouched
        impact
        binding
        nightVision
        disarm
        magicresist
        soulbound
        haste
        betterstorage.key.unlocking
        betterstorage.key.lockpicking
        betterstorage.key.morphing
        betterstorage.lock.persistance
        betterstorage.lock.security
        betterstorage.lock.shock
        betterstorage.lock.trigger
        Reading
        Eternal Compass
        damage
        poison
        confusion
        infinite
        ttinkerer:ascentBoost
        ttinkerer:autoSmelt
        ttinkerer:desintegrate
        ttinkerer:dispersedStrike
        ttinkerer:focusedStrike
        ttinkerer:pounce
        ttinkerer:quickDraw
        ttinkerer:shatter
        ttinkerer:shockwave
        ttinkerer:slowFall
        ttinkerer:tunnel
        ttinkerer:valiance
        ttinkerer:vampirism
     >
    S:"ttinkerer:focusedStrike" <
        protect.all
        protect.fire
        protect.fall
        protect.explosion
        protect.projectile
        oxygen
        waterWorker
        thorns
        damage.all
        damage.undead
        damage.arthropods
        fire
        digging
        untouching
        lootBonusDigger
        arrowDamage
        arrowKnockback
        arrowFire
        arrowInfinite
        lootBonusFishing
        fishingSpeed
        cluster
        wrath
        greedy
        consuming
        educational
        corrupting
        voidtouched
        impact
        binding
        nightVision
        disarm
        magicresist
        soulbound
        haste
        betterstorage.key.unlocking
        betterstorage.key.lockpicking
        betterstorage.key.morphing
        betterstorage.lock.persistance
        betterstorage.lock.security
        betterstorage.lock.shock
        betterstorage.lock.trigger
        Reading
        Eternal Compass
        damage
        poison
        confusion
        infinite
        ttinkerer:ascentBoost
        ttinkerer:autoSmelt
        ttinkerer:desintegrate
        ttinkerer:dispersedStrike
        ttinkerer:finalStrike
        ttinkerer:pounce
        ttinkerer:quickDraw
        ttinkerer:shatter
        ttinkerer:shockwave
        ttinkerer:slowFall
        ttinkerer:tunnel
        ttinkerer:valiance
        ttinkerer:vampirism
     >
    S:"ttinkerer:pounce" <
     >
    S:"ttinkerer:quickDraw" <
        arrowKnockback
     >
    S:"ttinkerer:shatter" <
        digging
        ttinkerer:desintegrate
     >
    S:"ttinkerer:shockwave" <
        protect.fall
        ttinkerer:slowFall
     >
    S:"ttinkerer:slowFall" <
        protect.fall
     >
    S:"ttinkerer:tunnel" <
        digging
        ttinkerer:shatter
     >
    S:"ttinkerer:valiance" <
        protect.all
        protect.fire
        protect.fall
        protect.explosion
        protect.projectile
        oxygen
        waterWorker
        thorns
        damage.arthropods
        knockback
        fire
        lootBonus
        digging
        untouching
        lootBonusDigger
        arrowDamage
        arrowKnockback
        arrowFire
        arrowInfinite
        lootBonusFishing
        fishingSpeed
        cluster
        wrath
        greedy
        consuming
        educational
        corrupting
        voidtouched
        impact
        binding
        nightVision
        disarm
        magicresist
        soulbound
        haste
        betterstorage.key.unlocking
        betterstorage.key.lockpicking
        betterstorage.key.morphing
        betterstorage.lock.persistance
        betterstorage.lock.security
        betterstorage.lock.shock
        betterstorage.lock.trigger
        Reading
        Eternal Compass
        damage
        poison
        confusion
        infinite
        ttinkerer:ascentBoost
        ttinkerer:autoSmelt
        ttinkerer:desintegrate
        ttinkerer:dispersedStrike
        ttinkerer:finalStrike
        ttinkerer:focusedStrike
        ttinkerer:pounce
        ttinkerer:quickDraw
        ttinkerer:shatter
        ttinkerer:shockwave
        ttinkerer:slowFall
        ttinkerer:tunnel
        ttinkerer:vampirism
     >
    S:"ttinkerer:vampirism" <
        knockback
        fire
     >
    S:untouching <
        lootBonusDigger
     >
    S:voidtouched <
     >
    S:waterWorker <
     >
    S:wrath <
     >
}


"enchantment limits" {
    I:"Eternal Compass"=1
    I:Reading=1
    I:arrowDamage=5
    I:arrowFire=1
    I:arrowInfinite=1
    I:arrowKnockback=2
    I:betterstorage.key.lockpicking=5
    I:betterstorage.key.morphing=5
    I:betterstorage.key.unlocking=5
    I:betterstorage.lock.persistance=5
    I:betterstorage.lock.security=5
    I:betterstorage.lock.shock=3
    I:betterstorage.lock.trigger=1
    I:binding=2
    I:cluster=4
    I:confusion=2
    I:consuming=1
    I:corrupting=1
    I:damage=5
    I:damage.all=5
    I:damage.arthropods=5
    I:damage.undead=5
    I:digging=5
    I:disarm=3
    I:durability=3
    I:educational=5
    I:fire=2
    I:fishingSpeed=3
    I:greedy=1
    I:haste=3
    I:impact=1
    I:infinite=1
    I:knockback=2
    I:lootBonus=3
    I:lootBonusDigger=3
    I:lootBonusFishing=3
    I:magicresist=5
    I:nightVision=1
    I:oxygen=3
    I:poison=2
    I:protect.all=4
    I:protect.explosion=4
    I:protect.fall=4
    I:protect.fire=4
    I:protect.projectile=4
    I:repair=2
    I:soulbound=1
    I:thorns=3
    I:"ttinkerer:ascentBoost"=4
    I:"ttinkerer:autoSmelt"=1
    I:"ttinkerer:desintegrate"=1
    I:"ttinkerer:dispersedStrike"=5
    I:"ttinkerer:finalStrike"=5
    I:"ttinkerer:focusedStrike"=5
    I:"ttinkerer:pounce"=5
    I:"ttinkerer:quickDraw"=2
    I:"ttinkerer:shatter"=5
    I:"ttinkerer:shockwave"=5
    I:"ttinkerer:slowFall"=3
    I:"ttinkerer:tunnel"=5
    I:"ttinkerer:valiance"=5
    I:"ttinkerer:vampirism"=2
    I:untouching=1
    I:voidtouched=1
    I:waterWorker=1
    I:wrath=5
}


general {
    B:legacyMode=false
}


